<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeepLinkDemo"
        tools:targetApi="31">

        <activity
            android:name="dev.deeplink.sdk.demo.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="xxxx" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="xxxx" />

        <activity
            android:name=".AppLinkActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Replace "https://xxx.deeplink.dev" with your AppLink domain provided by Dlink -->
                <data
                    android:host="https://xxx.deeplink.dev"
                    android:scheme="https" />
            </intent-filter>

        </activity>

    </application>

</manifest>